
.dimension {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dimension:hover {
  cursor: pointer;    
}

.selected {
  color: darkblue;
  background-color: lightblue;
}

.filter {
  border: 1px solid #AAAAFF;
  background-color: azure;
  border-radius: 4px;
  margin: 8px; 
  padding: 4px;
}