#root {
  padding: 0;
  background-color: #f4f5f5;
}

.dimension {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dimension:hover {
  cursor: pointer;
}

.selected {
  color: darkblue;
  background-color: lightblue;
}

.filter {
  border: 1px solid #AAAAFF;
  background-color: azure;
  border-radius: 4px;
  padding: 8px;

  font-size: 16px;
}

.nrql-query-container {
  display: flex;
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 4px;
  align-items: center;

  &:hover {
    cursor: pointer;

    .nrql-query {
      text-decoration-line: underline;
    }
  }
}

.nrql-query-header {
  height: 100%;
  line-height: 40px;
  padding: 0 10px;
  font-weight: 600;
  color: #8e9494;
  font-size: 13px;
  border-right: 1px dotted #d5d7d7;
}

.nrql-query {
  padding: 0 10px;
  font-family: 'Monaco', monospace;
  font-size: 13px;
  color: #0079bf;
  border-radius: 3px;
  position: relative;
  top: 1px;
}

.react-select-input-group {
  position: relative;
  width: 100%;
  max-width: 325px;
  margin-right: 8px;

  label {
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 10;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .25px;
    color: #6C797A;
  }
}

.react-select__control {
  height: 45px;
  font-size: 13px;
  color: #2A3434;
  border-radius: 2px;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__control--is-focused {
  border-color: #007e8a;
  box-shadow: 0 0 0 1px #007e8a;

  &:hover {
    border-color: #007e8a;
    box-shadow: 0 0 0 1px #007e8a;
  }
}

.react-select__option--is-focused {
  background-color: #007e8a18;
}

.react-select__option--is-selected {
  background-color: #007e8a;

  &:hover {
    background-color: #007e8a;
  }
}

.react-select__value-container {
  top: 8px;
}

.dropdown-container {
  display: inline-block;
}

.utility-bar {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 20px;
}

.account-picker-stack-item .react-select-input-group {
  min-width: 325px;
  width: auto;
  margin-bottom: 8px;
}

.data-type-picker-radio:first-child,
.function-picker-radio:first-child {
  margin-top: 3px;
  margin-bottom: 6px;
}

.data-type-picker-radio label {
    font-size: 12px;
}

.dimensions-table {
  list-style-type: none;
  border-radius: 2px;
  background-color: #fff;
}

.dimensions-table-item {
  color: #464e4e;
  font-size: 11px;
  padding: 13px 16px;
  border-bottom: 1px solid #F4F5F5;

  &:hover {
    background-color: #fafbfb;
    color: #000d0d;
    cursor: pointer;
  }
}

.dimensions-table-header,
.attributes-table-header {
  font-size: 13px;
  color: #464e4e;
  font-weight: 600;
}

.col-1 {
  margin-right: -4px;
}

.primary-chart-grid-item {
  margin-right: 4px;
}

.primary-chart {
  box-sizing: border-box;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 16px;
  background-color: #fff;
  border-radius: 2px;
}

.primary-table {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
}

[class*=-viz-table] [class*=-nr-css-Table-body] [class*=-nr-css-TableCell].is-odd {
  background-color: #fff;
}

[class*=-viz-table] [class*=-nr-css-Table-body] [class*=-nr-css-TableCell] {
  border-bottom: 1px solid #F4F5F5;

  span.list-item-label {
    padding: 0;
  }
}

[class*=-viz-table] [class*=-nr-css-TableHeaderCell] {
  background-color: #fff;
  border-bottom: 1px solid #F4F5F5;
}