.attributes-table {
  width: 100%;
}
.dimensions-table {
  width: 100%;
  font-size: 14px;

  tr:hover {
    cursor: pointer;    
  }

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .selected {
    background-color: azure;
  }
}

.dimension {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dimension:hover {
  cursor: pointer;    
}

.selected {
  color: darkblue;
  background-color: azure;
}

.filter {
  border: 1px solid #AAAAFF;
  background-color: azure;
  border-radius: 4px;
  margin: 3px; 
  padding: 4px;
}