
.dimension {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dimension:hover {
  cursor: pointer;    
}

.selected {
  color: darkblue;
  background-color: lightblue;
}

.filter {
  border: 1px solid #AAAAFF;
  background-color: azure;
  border-radius: 4px;
  padding: 8px;

  font-size: 16px;
}

.nrql {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  background-color: #eeeeee;
  border: 1px black #aaaaaa;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 4px;
}

.nrql:hover {
  color: blue;
  text-decoration-line: underline;
  cursor: pointer;
}